.undoable-form {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.undoable-form > div {
  padding: 0.2rem;
  margin: 0.2rem;
  display: flex;
}

.undoable-form > div > label {
  flex-grow: 1;
}

.button-container {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
}

.button-container button {
  width: 5rem;
}
