.App h1,
.App h2 {
  text-align: center;
}

.button-container {
  display: flex;
  margin: auto;
  justify-content: center;
}

.button-container button {
  width: 5rem;
}

form {
  margin: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
